<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit User</title>
</head>
<body>
<h2>Edit User</h2>

<div th:if="${error}" style="color: red; margin-bottom: 10px;">
  <p th:text="${error}"></p>
</div>


<form th:action="@{/admin/update}" method="post" th:object="${user}">

  <input type="hidden" th:field="*{id}" />

  <label>Name:</label>
  <input type="text" th:field="*{name}"
         pattern="^[A-Za-zА-Яа-яЁё가-힣]+$"
         title="Only letters allowed (English, Russian, or Korean)"
         required/><br/>

  <label>Last Name:</label>
  <input type="text" th:field="*{lastName}"
         pattern="^[A-Za-zА-Яа-яЁё가-힣]+$"
         title="Only letters allowed (English, Russian, or Korean)"
         required/><br/>

  <label>Age:</label>
  <input type="number" th:field="*{age}"
         min="0"
         step="1"
         title="Please enter a positive whole number"
         required/><br/>

  <label>Email:</label>
  <input type="email" th:field="*{email}"
         title="Введите корректный email"
         required />

  <label>Username:</label>
  <input type="text" th:field="*{username}"
         title="Введите username"
         required /><br/>

  <label>Password:</label>
  <input type="password" th:field="*{password}"
         title="Введите password"
         required /><br/>

  <label>Role:</label><br/>
  <select multiple th:field="*{roles}">
    <option th:each="role : ${allRoles}"
            th:value="${role.id}"
            th:text="${role.roleName}">
    </option>
  </select>


  <button type="submit">Update</button>
</form>

<a th:href="@{/admin}">Back</a>
</body>
</html>
